<div class="container-people-space">
  <h1 class="people-space-title">People In Space</h1>
  <p class="people-space-total">Total: {{ peopleInSpace?.people?.length }}</p>
  <table class="table table-dark table-striped table-hover ">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Spacecraft</th>
    </tr>
  </thead>
  <tbody>
    @for (person of peopleInSpace?.people; track person) {
      <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.craft }}</td>
      </tr>
    }
  </tbody>
  </table>
</div>
